<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e0d04f39a2104810bca45bd286ae3991 {
                    position: relative;
                    width: 600.0px;
                    height: 400.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet-ant-path@1.1.2/dist/leaflet-ant-path.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_e0d04f39a2104810bca45bd286ae3991" ></div>
        
</body>
<script>    
    
            var map_e0d04f39a2104810bca45bd286ae3991 = L.map(
                "map_e0d04f39a2104810bca45bd286ae3991",
                {
                    center: [29.708695, -95.769133],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_40e8be5ab1b4458c9c5219e69ffc336e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 12, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e0d04f39a2104810bca45bd286ae3991);
        
    
            var tile_layer_1cb81b196ff34ebe8fad12f487438c92 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e0d04f39a2104810bca45bd286ae3991);
        
    
            var tile_layer_45644229e4164c34a8a4fe73a6b670f3 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e0d04f39a2104810bca45bd286ae3991);
        
    
            var tile_layer_73e28173724444bf95f56091c24516cb = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e0d04f39a2104810bca45bd286ae3991);
        
    
            var tile_layer_72fb6c9bbe34428caf5ce19836fc2d7a = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e0d04f39a2104810bca45bd286ae3991);
        
    
            var tile_layer_40d71858dedb43d49b0111fe2802040e = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e0d04f39a2104810bca45bd286ae3991);
        
    
            var marker_bdfe20e56ac849eda02291cc134d054d = L.marker(
                [29.707103034374622, -95.77333828977712],
                {}
            ).addTo(map_e0d04f39a2104810bca45bd286ae3991);
        
    
            var icon_867cd980143f48a1840d061c9fdecb6f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bdfe20e56ac849eda02291cc134d054d.setIcon(icon_867cd980143f48a1840d061c9fdecb6f);
        
    
        var popup_c712b4ddc61a42e7b270adb146a9fb29 = L.popup({"maxWidth": "100%"});

        
            var html_f0a89593da9c4f54a350b83962481834 = $(`<div id="html_f0a89593da9c4f54a350b83962481834" style="width: 100.0%; height: 100.0%;">My Home</div>`)[0];
            popup_c712b4ddc61a42e7b270adb146a9fb29.setContent(html_f0a89593da9c4f54a350b83962481834);
        

        marker_bdfe20e56ac849eda02291cc134d054d.bindPopup(popup_c712b4ddc61a42e7b270adb146a9fb29)
        ;

        
    
    
            marker_bdfe20e56ac849eda02291cc134d054d.bindTooltip(
                `<div>
                     <strong>Click to see details</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            ant_path_cc1fe3956f12461889ff7b4d474466fe = L.polyline.antPath(
              [[29.707185313390863, -95.77303380270374], [29.70760846155237, -95.77360668949368], [29.70904277726165, -95.77259941050717], [29.70850604788351, -95.77177992703237], [29.70840026195587, -95.77129274771494], [29.708643177623838, -95.77031838908007], [29.708690316917536, -95.76964982239687], [29.709016483977713, -95.76968016812589], [29.709125206095653, -95.76956257842596], [29.709161446775468, -95.76916429073273], [29.709836838879333, -95.76930463967065], [29.710614357811405, -95.76957775123175], [29.711609309721535, -95.76952843942856], [29.71239669845204, -95.76929705322593], [29.71309842460758, -95.76899738915198], [29.712956157986568, -95.76688656485086], [29.713002748989123, -95.76631793657566], [29.712811725741286, -95.76627502123414], [29.712597406542823, -95.76540598556828]],
              {"bubblingMouseEvents": true, "color": "#0000FF", "dashArray": [10, 20], "dashOffset": null, "delay": 400, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "hardwareAcceleration": false, "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "paused": false, "pulseColor": "#FFFFFF", "reverse": false, "smoothFactor": 1.0, "stroke": true, "weight": 5}
        ).addTo(map_e0d04f39a2104810bca45bd286ae3991);
        
    
            L.control.fullscreen(
                {"forceSeparateButton": false, "position": "bottomright", "title": "Full Screen", "titleCancel": "Exit Full Screen"}
            ).addTo(map_e0d04f39a2104810bca45bd286ae3991);
        
    
            var layer_control_5521b99a07b94ed7afc82bd8aedddfd4 = {
                base_layers : {
                    "openstreetmap" : tile_layer_40e8be5ab1b4458c9c5219e69ffc336e,
                    "stamenterrain" : tile_layer_1cb81b196ff34ebe8fad12f487438c92,
                    "stamentoner" : tile_layer_45644229e4164c34a8a4fe73a6b670f3,
                    "stamenwatercolor" : tile_layer_73e28173724444bf95f56091c24516cb,
                    "cartodbpositron" : tile_layer_72fb6c9bbe34428caf5ce19836fc2d7a,
                    "cartodbdark_matter" : tile_layer_40d71858dedb43d49b0111fe2802040e,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_5521b99a07b94ed7afc82bd8aedddfd4.base_layers,
                layer_control_5521b99a07b94ed7afc82bd8aedddfd4.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_e0d04f39a2104810bca45bd286ae3991);
            tile_layer_1cb81b196ff34ebe8fad12f487438c92.remove();
            tile_layer_45644229e4164c34a8a4fe73a6b670f3.remove();
            tile_layer_73e28173724444bf95f56091c24516cb.remove();
            tile_layer_72fb6c9bbe34428caf5ce19836fc2d7a.remove();
            tile_layer_40d71858dedb43d49b0111fe2802040e.remove();
        
</script>