<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9bd2c4a806a843c3b8e83391d8ab74a9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet-ant-path@1.1.2/dist/leaflet-ant-path.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_9bd2c4a806a843c3b8e83391d8ab74a9" ></div>
        
</body>
<script>    
    
            var map_9bd2c4a806a843c3b8e83391d8ab74a9 = L.map(
                "map_9bd2c4a806a843c3b8e83391d8ab74a9",
                {
                    center: [29.708695, -95.769133],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d18935eaa0fb41e1a3b4939749b1c7f3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 12, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9bd2c4a806a843c3b8e83391d8ab74a9);
        
    
            var tile_layer_c4a8aaeda76b482c9ac2a1250e64e6d8 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9bd2c4a806a843c3b8e83391d8ab74a9);
        
    
            var tile_layer_95240ccda86049c18a9ccce9170efa58 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9bd2c4a806a843c3b8e83391d8ab74a9);
        
    
            var tile_layer_8253bb08312e445a8ad327004166cfaf = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9bd2c4a806a843c3b8e83391d8ab74a9);
        
    
            var tile_layer_550cfe7b05034c43903d3a86658b70e4 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9bd2c4a806a843c3b8e83391d8ab74a9);
        
    
            var tile_layer_ef010671a7f645be91f5fd4b06b835bc = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9bd2c4a806a843c3b8e83391d8ab74a9);
        
    
            var marker_b5e8164a53a04bba85f92fc0ebed977d = L.marker(
                [29.707103034374622, -95.77333828977712],
                {}
            ).addTo(map_9bd2c4a806a843c3b8e83391d8ab74a9);
        
    
            var icon_7254dffd85174e59bd2268875a4d9508 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b5e8164a53a04bba85f92fc0ebed977d.setIcon(icon_7254dffd85174e59bd2268875a4d9508);
        
    
        var popup_cba3b352f0074789a27681acbd8632ec = L.popup({"maxWidth": "100%"});

        
            var html_183e13bc62b546f88863344593bc8312 = $(`<div id="html_183e13bc62b546f88863344593bc8312" style="width: 100.0%; height: 100.0%;">My Home</div>`)[0];
            popup_cba3b352f0074789a27681acbd8632ec.setContent(html_183e13bc62b546f88863344593bc8312);
        

        marker_b5e8164a53a04bba85f92fc0ebed977d.bindPopup(popup_cba3b352f0074789a27681acbd8632ec)
        ;

        
    
    
            marker_b5e8164a53a04bba85f92fc0ebed977d.bindTooltip(
                `<div>
                     <strong>Click to see details</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            ant_path_bd38c07a8dd74e829c7f609b956e9dec = L.polyline.antPath(
              [[29.707185313390863, -95.77303380270374], [29.70760846155237, -95.77360668949368], [29.70904277726165, -95.77259941050717], [29.70850604788351, -95.77177992703237], [29.70840026195587, -95.77129274771494], [29.708643177623838, -95.77031838908007], [29.708690316917536, -95.76964982239687], [29.709016483977713, -95.76968016812589], [29.709125206095653, -95.76956257842596], [29.709161446775468, -95.76916429073273], [29.709836838879333, -95.76930463967065], [29.710614357811405, -95.76957775123175], [29.711609309721535, -95.76952843942856], [29.71239669845204, -95.76929705322593], [29.71309842460758, -95.76899738915198], [29.712956157986568, -95.76688656485086], [29.713002748989123, -95.76631793657566], [29.712811725741286, -95.76627502123414], [29.712597406542823, -95.76540598556828]],
              {"bubblingMouseEvents": true, "color": "#0000FF", "dashArray": [10, 20], "dashOffset": null, "delay": 400, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "hardwareAcceleration": false, "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "paused": false, "pulseColor": "#FFFFFF", "reverse": false, "smoothFactor": 1.0, "stroke": true, "weight": 5}
        ).addTo(map_9bd2c4a806a843c3b8e83391d8ab74a9);
        
    
            L.control.fullscreen(
                {"forceSeparateButton": false, "position": "bottomright", "title": "Full Screen", "titleCancel": "Exit Full Screen"}
            ).addTo(map_9bd2c4a806a843c3b8e83391d8ab74a9);
        
    
            var layer_control_e84389322e3f47a1951dbebe0290a06d = {
                base_layers : {
                    "openstreetmap" : tile_layer_d18935eaa0fb41e1a3b4939749b1c7f3,
                    "stamenterrain" : tile_layer_c4a8aaeda76b482c9ac2a1250e64e6d8,
                    "stamentoner" : tile_layer_95240ccda86049c18a9ccce9170efa58,
                    "stamenwatercolor" : tile_layer_8253bb08312e445a8ad327004166cfaf,
                    "cartodbpositron" : tile_layer_550cfe7b05034c43903d3a86658b70e4,
                    "cartodbdark_matter" : tile_layer_ef010671a7f645be91f5fd4b06b835bc,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_e84389322e3f47a1951dbebe0290a06d.base_layers,
                layer_control_e84389322e3f47a1951dbebe0290a06d.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_9bd2c4a806a843c3b8e83391d8ab74a9);
            tile_layer_c4a8aaeda76b482c9ac2a1250e64e6d8.remove();
            tile_layer_95240ccda86049c18a9ccce9170efa58.remove();
            tile_layer_8253bb08312e445a8ad327004166cfaf.remove();
            tile_layer_550cfe7b05034c43903d3a86658b70e4.remove();
            tile_layer_ef010671a7f645be91f5fd4b06b835bc.remove();
        
</script>